header.header
                    div.container.clearfix
                        a.header__logo(href="#")
                            img.logo(alt="oline", src="/images/content/logo.png")
                            span.logo_hidden-text Олайн. Маркетинговые решения
                        nav.navigation        
                            ul.navigation__list
                                li.navigation__item
                                    a.navigation__link.navigation__link_active(href="#") Распространение  изданий
                                li.navigation__item
                                    a.navigation__link(href="#") Реклама в бизнес -центрах
                                li.navigation__item
                                    a.navigation__link(href="#") Дизайн и полиграфия
                                li.navigation__item
                                    a.navigation__link(href="#") Реклама на парнасе
                        div.callback
                            p.number +7 (812) 974-27-08
                            button.callback__button