.header {
	padding-top: 5px;
    background: #171e24;
}

.header__logo {
    display: inline-block;
    float: left;
}

.logo_hidden-text {
    position: absolute;
    top: 0;
    left: -9999px;
}

.navigation {
    display: block;
    float: left;
       padding-top: 24px;
    padding-left: 41px;
}

.navigation__list {
    display: block;
    margin: 0;
    max-width: 650px;

}

.navigation__item {
    float: left;
    font-size: 12px;
    padding-right: 19px;
    font-family: 'open_sanslight', arial;
}

.navigation__link {
    display: block;
    color: #fff;
    text-decoration: none;
}

.navigation__link:hover,
.navigation__link_active {
    border-bottom: 2px #0070ba solid;
}

.callback {
    display: block;
    float: right;
    text-align: center;
        padding-top: 4px;

}

.number {
        margin: 0px 0px 4px 0px;
    text-align: center;
    font-family: 'open_sansbold', arial;
    font-size: 20px;
    color: #fff;
}
.callback__button { 
	background-color: #0070ba; 
	color: #fff;
	  font-family: 'open_sanslight', arial;
}


.callback__button:hover {
	border-top: 1px solid  #015b96;
	background-color: #088be2; 
}